# Logistic Regression on Titanic Dataset

__Predict the survival of passengers travelling in RMS Titanic using Logistic Regression.__

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv("train.csv")

Data Dictionary<br>
- Variable	Definition	Key
- survival	Survival	0 = No, 1 = Yes
- pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
- sex	Sex	
- Age	Age in years	
- sibsp	# of siblings / spouses aboard the Titanic	
- parch	# of parents / children aboard the Titanic	
- ticket	Ticket number	
- fare	Passenger fare	
- cabin	Cabin number	
- embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

In [17]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
df.shape

(891, 12)

In [19]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [21]:
df['Embarked'].mode()

0    S
dtype: object

In [22]:
df['Embarked'].mode()[0]

'S'

In [23]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [24]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [25]:
df['Age'].fillna(df['Age'].median(), inplace=True)

In [26]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [27]:
df.drop('Cabin', axis=1, inplace=True)

In [28]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [29]:
df['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [30]:
df['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [31]:
#Derived Feature --- Feature Enginnering
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

In [32]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,1

In [33]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [34]:
df['GenderClass'] = df.apply(lambda x : 'child' if x['Age']<15 else x['Sex'], axis=1)

In [40]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,GenderClass
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.3750,S,5,child
666,667,0,2,"Butler, Mr. Reginald Fenton",male,25.0,0,0,234686,13.0000,S,1,male
646,647,0,3,"Cor, Mr. Liudevit",male,19.0,0,0,349231,7.8958,S,1,male
434,435,0,1,"Silvey, Mr. William Baird",male,50.0,1,0,13507,55.9000,S,2,male
723,724,0,2,"Hodges, Mr. Henry Price",male,50.0,0,0,250643,13.0000,S,1,male

In [41]:
df['GenderClass'].value_counts()

male      538
female    275
child      78
Name: GenderClass, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
 11  FamilySize   891 non-null    int64
 12  GenderClass  891 non-null    object
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [ ]:
df = pd.get_dummies(df, columns=['GenderClass','Embarked'], drop_first=True)

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,FamilySize,GenderClass_female,GenderClass_male,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,2,0,1,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,2,1,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,1,1,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,2,1,0,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,1,0,1,0,1

In [ ]:
df = df.drop(['Name','Ticket','Sex','SibSp','Parch'], axis=1)

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Age,Fare,FamilySize,GenderClass_female,GenderClass_male,Embarked_Q,Embarked_S
0,1,0,3,22.0,7.2500,2,0,1,0,1
1,2,1,1,38.0,71.2833,2,1,0,0,0
2,3,1,3,26.0,7.9250,1,1,0,0,1
3,4,1,1,35.0,53.1000,2,1,0,0,1
4,5,0,3,35.0,8.0500,1,0,1,0,1

In [ ]:
# Pairplot

In [ ]:
# Correlation Matrix and Plot a Heatmap and write your insights

In [ ]:
X = df.loc[:,df.columns != 'Survived']
X.head()

,PassengerId,Pclass,Age,Fare,FamilySize,GenderClass_female,GenderClass_male,Embarked_Q,Embarked_S
0,1,3,22.0,7.2500,2,0,1,0,1
1,2,1,38.0,71.2833,2,1,0,0,0
2,3,3,26.0,7.9250,1,1,0,0,1
3,4,1,35.0,53.1000,2,1,0,0,1
4,5,3,35.0,8.0500,1,0,1,0,1

In [ ]:
y = df['Survived']

In [ ]:
X.shape

(891, 9)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
X_train.shape

(712, 9)

In [ ]:
X_test.shape

(179, 9)

In [ ]:
# Logistic Regression

from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train) # study

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [ ]:
y_pred = lr.predict(X_test)

In [ ]:
# Model Evaluation

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
accuracy_score(y_test, y_pred)

0.7988826815642458

In [ ]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.79      0.90      0.84       106
          1       0.81      0.66      0.73        73

avg / total       0.80      0.80      0.79       179

In [ ]:
confusion_matrix(y_test, y_pred)

array([[95, 11],
       [25, 48]], dtype=int64)

In [ ]:
cm = pd.DataFrame(confusion_matrix(y_test, y_pred))

In [ ]:
cm

    0   1
0  95  11
1  25  48

In [ ]:
cm.index = ['Actual Died','Actual Survived']
cm.columns = ['Predicted Died', 'Predicted Survived']

In [ ]:
cm

                 Predicted Died  Predicted Survived
Actual Died                  95                  11
Actual Survived              25                  48

In [ ]:
lr.predict(X_test)

array([1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0], dtype=int64)

In [ ]:
lr.predict_proba(X_test)

array([[0.073178  , 0.926822  ],
       [0.92857639, 0.07142361],
       [0.18493712, 0.81506288],
       [0.26225669, 0.73774331],
       [0.28946919, 0.71053081],
       [0.89869459, 0.10130541],
       [0.91095312, 0.08904688],
       [0.12371292, 0.87628708],
       [0.65370722, 0.34629278],
       [0.38171457, 0.61828543],
       [0.89271503, 0.10728497],
       [0.40056951, 0.59943049],
       [0.75754233, 0.24245767],
       [0.85888766, 0.14111234],
       [0.30742602, 0.69257398],
       [0.63981521, 0.36018479],
       [0.65424037, 0.34575963],
       [0.91519934, 0.08480066],
       [0.93720498, 0.06279502],
       [0.42427739, 0.57572261],
       [0.92480729, 0.07519271],
       [0.93262391, 0.06737609],
       [0.04182886, 0.95817114],
       [0.75982981, 0.24017019],
       [0.47714872, 0.52285128],
       [0.89330957, 0.10669043],
       [0.04773635, 0.95226365],
       [0.15585682, 0.84414318],
       [0.7961791 , 0.2038209 ],
       [0.03477973, 0.96522027],
       [0.25110438, 0.74889562],
       [0.65732609, 0.34267391],
       [0.7088419 , 0.2911581 ],
       [0.34103868, 0.65896132],
       [0.91298462, 0.08701538],
       [0.77530268, 0.22469732],
       [0.65287124, 0.34712876],
       [0.93189767, 0.06810233],
       [0.61454259, 0.38545741],
       [0.89627863, 0.10372137],
       [0.36817094, 0.63182906],
       [0.53454229, 0.46545771],
       [0.10664643, 0.89335357],
       [0.70800766, 0.29199234],
       [0.18324926, 0.81675074],
       [0.92886213, 0.07113787],
       [0.83953719, 0.16046281],
       [0.80424104, 0.19575896],
       [0.13889434, 0.86110566],
       [0.74330804, 0.25669196],
       [0.80560821, 0.19439179],
       [0.19679064, 0.80320936],
       [0.82231223, 0.17768777],
       [0.85260882, 0.14739118],
       [0.93541089, 0.06458911],
       [0.42773693, 0.57226307],
       [0.84180703, 0.15819297],
       [0.70742147, 0.29257853],
       [0.98795893, 0.01204107],
       [0.31524252, 0.68475748],
       [0.87731691, 0.12268309],
       [0.86511343, 0.13488657],
       [0.80345274, 0.19654726],
       [0.72878751, 0.27121249],
       [0.62585241, 0.37414759],
       [0.42929847, 0.57070153],
       [0.91843927, 0.08156073],
       [0.90400758, 0.09599242],
       [0.48514609, 0.51485391],
       [0.90884284, 0.09115716],
       [0.93954709, 0.06045291],
       [0.67691778, 0.32308222],
       [0.52454042, 0.47545958],
       [0.90028418, 0.09971582],
       [0.19788677, 0.80211323],
       [0.81282568, 0.18717432],
       [0.09782014, 0.90217986],
       [0.87924305, 0.12075695],
       [0.66566558, 0.33433442],
       [0.04770255, 0.95229745],
       [0.89398812, 0.10601188],
       [0.99380487, 0.00619513],
       [0.9163745 , 0.0836255 ],
       [0.93530404, 0.06469596],
       [0.12495793, 0.87504207],
       [0.90259522, 0.09740478],
       [0.90935162, 0.09064838],
       [0.8852265 , 0.1147735 ],
       [0.69917032, 0.30082968],
       [0.27325383, 0.72674617],
       [0.66492389, 0.33507611],
       [0.88560208, 0.11439792],
       [0.88122215, 0.11877785],
       [0.35770435, 0.64229565],
       [0.89115075, 0.10884925],
       [0.57995293, 0.42004707],
       [0.95691449, 0.04308551],
       [0.34442571, 0.65557429],
       [0.87810906, 0.12189094],
       [0.89111295, 0.10888705],
       [0.50571775, 0.49428225],
       [0.63425779, 0.36574221],
       [0.94935675, 0.05064325],
       [0.26377711, 0.73622289],
       [0.06070877, 0.93929123],
       [0.91671367, 0.08328633],
       [0.93539127, 0.06460873],
       [0.91973351, 0.08026649],
       [0.74825962, 0.25174038],
       [0.93536924, 0.06463076],
       [0.65483429, 0.34516571],
       [0.91194099, 0.08805901],
       [0.85518361, 0.14481639],
       [0.94070515, 0.05929485],
       [0.77362189, 0.22637811],
       [0.90773244, 0.09226756],
       [0.87961394, 0.12038606],
       [0.64873506, 0.35126494],
       [0.21226128, 0.78773872],
       [0.2897063 , 0.7102937 ],
       [0.20418973, 0.79581027],
       [0.79560107, 0.20439893],
       [0.93408719, 0.06591281],
       [0.75894883, 0.24105117],
       [0.08090614, 0.91909386],
       [0.04803316, 0.95196684],
       [0.16929525, 0.83070475],
       [0.29953062, 0.70046938],
       [0.99361943, 0.00638057],
       [0.87636276, 0.12363724],
       [0.92113457, 0.07886543],
       [0.9344951 , 0.0655049 ],
       [0.46526043, 0.53473957],
       [0.47855114, 0.52144886],
       [0.60401936, 0.39598064],
       [0.06374989, 0.93625011],
       [0.07948988, 0.92051012],
       [0.78266081, 0.21733919],
       [0.93061726, 0.06938274],
       [0.28874573, 0.71125427],
       [0.08989331, 0.91010669],
       [0.90366001, 0.09633999],
       [0.15076276, 0.84923724],
       [0.33917548, 0.66082452],
       [0.93385672, 0.06614328],
       [0.42092705, 0.57907295],
       [0.82649918, 0.17350082],
       [0.93317166, 0.06682834],
       [0.56274166, 0.43725834],
       [0.90627322, 0.09372678],
       [0.43520277, 0.56479723],
       [0.93294183, 0.06705817],
       [0.7122701 , 0.2877299 ],
       [0.30114824, 0.69885176],
       [0.88404604, 0.11595396],
       [0.90328168, 0.09671832],
       [0.91786484, 0.08213516],
       [0.91103811, 0.08896189],
       [0.13068813, 0.86931187],
       [0.78276899, 0.21723101],
       [0.85130407, 0.14869593],
       [0.92165636, 0.07834364],
       [0.36663599, 0.63336401],
       [0.69528017, 0.30471983],
       [0.96034189, 0.03965811],
       [0.23873595, 0.76126405],
       [0.26902171, 0.73097829],
       [0.88754863, 0.11245137],
       [0.89523628, 0.10476372],
       [0.68223715, 0.31776285],
       [0.01013387, 0.98986613],
       [0.78190221, 0.21809779],
       [0.06786929, 0.93213071],
       [0.95264078, 0.04735922],
       [0.07741636, 0.92258364],
       [0.6018079 , 0.3981921 ],
       [0.89081798, 0.10918202],
       [0.89533009, 0.10466991],
       [0.51496377, 0.48503623]])

In [ ]:
lr.predict_proba(X_test)[:,1]

array([0.926822  , 0.07142361, 0.81506288, 0.73774331, 0.71053081,
       0.10130541, 0.08904688, 0.87628708, 0.34629278, 0.61828543,
       0.10728497, 0.59943049, 0.24245767, 0.14111234, 0.69257398,
       0.36018479, 0.34575963, 0.08480066, 0.06279502, 0.57572261,
       0.07519271, 0.06737609, 0.95817114, 0.24017019, 0.52285128,
       0.10669043, 0.95226365, 0.84414318, 0.2038209 , 0.96522027,
       0.74889562, 0.34267391, 0.2911581 , 0.65896132, 0.08701538,
       0.22469732, 0.34712876, 0.06810233, 0.38545741, 0.10372137,
       0.63182906, 0.46545771, 0.89335357, 0.29199234, 0.81675074,
       0.07113787, 0.16046281, 0.19575896, 0.86110566, 0.25669196,
       0.19439179, 0.80320936, 0.17768777, 0.14739118, 0.06458911,
       0.57226307, 0.15819297, 0.29257853, 0.01204107, 0.68475748,
       0.12268309, 0.13488657, 0.19654726, 0.27121249, 0.37414759,
       0.57070153, 0.08156073, 0.09599242, 0.51485391, 0.09115716,
       0.06045291, 0.32308222, 0.47545958, 0.09971582, 0.80211323,
       0.18717432, 0.90217986, 0.12075695, 0.33433442, 0.95229745,
       0.10601188, 0.00619513, 0.0836255 , 0.06469596, 0.87504207,
       0.09740478, 0.09064838, 0.1147735 , 0.30082968, 0.72674617,
       0.33507611, 0.11439792, 0.11877785, 0.64229565, 0.10884925,
       0.42004707, 0.04308551, 0.65557429, 0.12189094, 0.10888705,
       0.49428225, 0.36574221, 0.05064325, 0.73622289, 0.93929123,
       0.08328633, 0.06460873, 0.08026649, 0.25174038, 0.06463076,
       0.34516571, 0.08805901, 0.14481639, 0.05929485, 0.22637811,
       0.09226756, 0.12038606, 0.35126494, 0.78773872, 0.7102937 ,
       0.79581027, 0.20439893, 0.06591281, 0.24105117, 0.91909386,
       0.95196684, 0.83070475, 0.70046938, 0.00638057, 0.12363724,
       0.07886543, 0.0655049 , 0.53473957, 0.52144886, 0.39598064,
       0.93625011, 0.92051012, 0.21733919, 0.06938274, 0.71125427,
       0.91010669, 0.09633999, 0.84923724, 0.66082452, 0.06614328,
       0.57907295, 0.17350082, 0.06682834, 0.43725834, 0.09372678,
       0.56479723, 0.06705817, 0.2877299 , 0.69885176, 0.11595396,
       0.09671832, 0.08213516, 0.08896189, 0.86931187, 0.21723101,
       0.14869593, 0.07834364, 0.63336401, 0.30471983, 0.03965811,
       0.76126405, 0.73097829, 0.11245137, 0.10476372, 0.31776285,
       0.98986613, 0.21809779, 0.93213071, 0.04735922, 0.92258364,
       0.3981921 , 0.10918202, 0.10466991, 0.48503623])

In [ ]:
lr.predict_proba(X_test)[:,1] > 0.75

array([ True, False,  True, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False,  True,
        True, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False,  True,
       False, False, False,  True, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False,  True, False, False,  True, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False,  True, False, False, False,  True,  True,
        True, False, False, False, False, False, False, False, False,
        True,  True, False, False, False,  True, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False,  True, False, False, False, False,  True,
       False,  True, False,  True, False, False, False, False])

In [ ]:
preds1 = np.where(lr.predict_proba(X_test)[:,1] > 0.75, 1, 0)

In [ ]:
accuracy_score(y_test,preds1)

0.7374301675977654

In [ ]:
preds2 = np.where(lr.predict_proba(X_test)[:,1] > 0.25, 1, 0)

In [ ]:
accuracy_score(y_test,preds2)

0.7486033519553073

# Multiclass Logistic Regression

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
iris_sns = sns.load_dataset('iris')
iris_sns.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris_sns.shape

(150, 5)

In [ ]:
iris_sns['species'].value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [ ]:
from sklearn import datasets

In [ ]:
iris = datasets.load_iris()

In [ ]:
X = iris.data

In [ ]:
y = iris.target

In [ ]:
X

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [ ]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [ ]:
print(iris.DESCR)

Iris Plants Database
====================

Notes
-----
Data Set Characteristics:
    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica
    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20  0.76     0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML iris datasets.
http://archive.ics.uci.edu/ml/datasets/Iris

The famous Iris database, first used by Sir R.A Fisher

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

References
----------
   - Fisher,R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda,R.O., & Hart,P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [ ]:
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [ ]:
# Create One vs All Logistic Regression

clf = LogisticRegression(random_state=0, multi_class='ovr')

In [ ]:
model = clf.fit(X_std, y)

In [ ]:
# Unseen data
unseen = [[0.5,0.5,0.5,0.5]]

In [ ]:
model.predict(unseen) # Virginica

array([2])

In [ ]:
model.predict_proba(unseen)

array([[0.0387617 , 0.40669108, 0.55454723]])

In [ ]:
from sklearn.model_selection import GridSearchCV,cross_val_score

#parameters = {'bootstrap': [True],
# 'max_depth': [10, 20, 30, 40, 50],
# 'n_estimators': [100,200,300,400,500,600]}
parameters = {'penalty': ['l1','l2'], 'C': [0.001,0.01,0.1,1,10,100,1000]}

clf = GridSearchCV(LogisticRegression(), parameters,cv=5, verbose = 2)
clf.fit(X_std, y)

clf.best_params_

Fitting 3 folds for each of 14 candidates, totalling 42 fits
[CV] C=0.001, penalty=l1 .............................................
[CV] .............................. C=0.001, penalty=l1, total=   0.0s
[CV] C=0.001, penalty=l1 .............................................
[CV] .............................. C=0.001, penalty=l1, total=   0.0s
[CV] C=0.001, penalty=l1 .............................................
[CV] .............................. C=0.001, penalty=l1, total=   0.0s
[CV] C=0.001, penalty=l2 .............................................
[CV] .............................. C=0.001, penalty=l2, total=   0.0s
[CV] C=0.001, penalty=l2 .............................................
[CV] .............................. C=0.001, penalty=l2, total=   0.0s
[CV] C=0.001, penalty=l2 .............................................
[CV] .............................. C=0.001, penalty=l2, total=   0.0s
[CV] C=0.01, penalty=l1 ..............................................
[CV] ............................... C=0.01, penalty=l1, total=   0.0s
[CV] C=0.01, penalty=l1 ..............................................
[CV] ............................... C=0.01, penalty=l1, total=   0.0s
[CV] C=0.01, penalty=l1 ..............................................
[CV] ............................... C=0.01, penalty=l1, total=   0.0s
[CV] C=0.01, penalty=l2 ..............................................
[CV] ............................... C=0.01, penalty=l2, total=   0.0s
[CV] C=0.01, penalty=l2 ..............................................
[CV] ............................... C=0.01, penalty=l2, total=   0.0s
[CV] C=0.01, penalty=l2 ..............................................
[CV] ............................... C=0.01, penalty=l2, total=   0.0s
[CV] C=0.1, penalty=l1 ...............................................
[CV] ................................ C=0.1, penalty=l1, total=   0.0s
[CV] C=0.1, penalty=l1 ...............................................
[CV] ................................ C=0.1, penalty=l1, total=   0.0s
[CV] C=0.1, penalty=l1 ...............................................
[CV] ................................ C=0.1, penalty=l1, total=   0.0s
[CV] C=0.1, penalty=l2 ...............................................
[CV] ................................ C=0.1, penalty=l2, total=   0.0s
[CV] C=0.1, penalty=l2 ...............................................
[CV] ................................ C=0.1, penalty=l2, total=   0.0s
[CV] C=0.1, penalty=l2 ...............................................
[CV] ................................ C=0.1, penalty=l2, total=   0.0s
[CV] C=1, penalty=l1 .................................................
[CV] .................................. C=1, penalty=l1, total=   0.0s
[CV] C=1, penalty=l1 .................................................
[CV] .................................. C=1, penalty=l1, total=   0.0s
[CV] C=1, penalty=l1 .................................................
[CV] .................................. C=1, penalty=l1, total=   0.0s
[CV] C=1, penalty=l2 .................................................
[CV] .................................. C=1, penalty=l2, total=   0.0s
[CV] C=1, penalty=l2 .................................................
[CV] .................................. C=1, penalty=l2, total=   0.0s
[CV] C=1, penalty=l2 .................................................
[CV] .................................. C=1, penalty=l2, total=   0.0s
[CV] C=10, penalty=l1 ................................................
[CV] ................................. C=10, penalty=l1, total=   0.0s
[CV] C=10, penalty=l1 ................................................
[CV] ................................. C=10, penalty=l1, total=   0.0s
[CV] C=10, penalty=l1 ................................................
[CV] ................................. C=10, penalty=l1, total=   0.0s
[CV] C=10, penalty=l2 ................................................
[CV] ................................. C=10, penalty=l2, total=   0.0s
[CV] C=10, penalty=l2 ................................................
[CV] ................................. C=10, penalty=l2, total=   0.0s
[CV] C=10, penalty=l2 ................................................
[CV] ................................. C=10, penalty=l2, total=   0.0s
[CV] C=100, penalty=l1 ...............................................
[CV] ................................ C=100, penalty=l1, total=   0.0s
[CV] C=100, penalty=l1 ...............................................
[CV] ................................ C=100, penalty=l1, total=   0.0s
[CV] C=100, penalty=l1 ...............................................
[CV] ................................ C=100, penalty=l1, total=   0.0s
[CV] C=100, penalty=l2 ...............................................
[CV] ................................ C=100, penalty=l2, total=   0.0s
[CV] C=100, penalty=l2 ...............................................
[CV] ................................ C=100, penalty=l2, total=   0.0s
[CV] C=100, penalty=l2 ...............................................
[CV] ................................ C=100, penalty=l2, total=   0.0s
[CV] C=1000, penalty=l1 ..............................................
[CV] ............................... C=1000, penalty=l1, total=   0.0s
[CV] C=1000, penalty=l1 ..............................................
[CV] ............................... C=1000, penalty=l1, total=   0.0s
[CV] C=1000, penalty=l1 ..............................................
[CV] ............................... C=1000, penalty=l1, total=   0.0s
[CV] C=1000, penalty=l2 ..............................................
[CV] ............................... C=1000, penalty=l2, total=   0.0s
[CV] C=1000, penalty=l2 ..............................................
[CV] ............................... C=1000, penalty=l2, total=   0.0s
[CV] C=1000, penalty=l2 ..............................................
[CV] ............................... C=1000, penalty=l2, total=   0.0s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  42 out of  42 | elapsed:    0.0s finished

{'C': 10, 'penalty': 'l1'}

In [ ]:
!pip install eli5

Collecting eli5
  Using cached eli5-0.11.0-py2.py3-none-any.whl (106 kB)
Requirement already satisfied: attrs>16.0.0 in c:\users\akash\appdata\local\programs\python\python36\lib\site-packages (from eli5) (20.3.0)
Requirement already satisfied: numpy>=1.9.0 in c:\users\akash\appdata\local\programs\python\python36\lib\site-packages (from eli5) (1.19.5)
Requirement already satisfied: six in c:\users\akash\appdata\local\programs\python\python36\lib\site-packages (from eli5) (1.11.0)
Requirement already satisfied: scikit-learn>=0.20 in c:\users\akash\appdata\local\programs\python\python36\lib\site-packages (from eli5) (0.24.1)
Requirement already satisfied: tabulate>=0.7.7 in c:\users\akash\appdata\local\programs\python\python36\lib\site-packages (from eli5) (0.8.3)
Requirement already satisfied: scipy in c:\users\akash\appdata\local\programs\python\python36\lib\site-packages (from eli5) (1.1.0)
Requirement already satisfied: jinja2 in c:\users\akash\appdata\local\programs\python\python36\lib\site-packages (from eli5) (2.10.1)
Requirement already satisfied: graphviz in c:\users\akash\appdata\local\programs\python\python36\lib\site-packages (from eli5) (0.8.3)
Requirement already satisfied: joblib>=0.11 in c:\users\akash\appdata\local\programs\python\python36\lib\site-packages (from scikit-learn>=0.20->eli5) (0.15.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\akash\appdata\local\programs\python\python36\lib\site-packages (from scikit-learn>=0.20->eli5) (2.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\akash\appdata\local\programs\python\python36\lib\site-packages (from jinja2->eli5) (1.1.1)
Installing collected packages: eli5
Successfully installed eli5-0.11.0

ERROR: Error checking for conflicts.
Traceback (most recent call last):
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3021, in _dep_map
    return self.__dep_map
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 2815, in __getattr__
    raise AttributeError(attr)
AttributeError: _DistInfoDistribution__dep_map

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3012, in _parsed_pkg_info
    return self._pkg_info
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 2815, in __getattr__
    raise AttributeError(attr)
AttributeError: _pkg_info

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_internal\commands\install.py", line 517, in _warn_about_conflicts
    package_set, _dep_info = check_install_conflicts(to_install)
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_internal\operations\check.py", line 114, in check_install_conflicts
    package_set, _ = create_package_set_from_installed()
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_internal\operations\check.py", line 53, in create_package_set_from_installed
    package_set[name] = PackageDetails(dist.version, dist.requires())
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 2736, in requires
    dm = self._dep_map
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3023, in _dep_map
    self.__dep_map = self._compute_dependencies()
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3032, in _compute_dependencies
    for req in self._parsed_pkg_info.get_all('Requires-Dist') or []:
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3014, in _parsed_pkg_info
    metadata = self.get_metadata(self.PKG_INFO)
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 1420, in get_metadata
    value = self._get(path)
  File "c:\users\akash\appdata\local\programs\python\python36\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 1616, in _get
    with open(path, 'rb') as stream:
FileNotFoundError: [Errno 2] No such file or directory: 'c:\\users\\akash\\appdata\\local\\programs\\python\\python36\\lib\\site-packages\\tensorflow-1.15.0.dist-info\\METADATA'
WARNING: You are using pip version 20.0.2; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\akash\appdata\local\programs\python\python36\python.exe -m pip install --upgrade pip' command.